.container{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.inputBox{
  font-weight: 600;
  border:solid var(--mainGray) 3px;
  transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
  padding:0.4rem 0.6rem;
  border-radius: 1rem;
  border-style: solid;
}
.inputBox:focus::placeholder {
  transition: color 0.2s;
  color: rgb(101, 113, 117);
}
.inputBox:focus{
  background-color: var(--mainGray);
  border-radius: 1rem;
  border-color:var(--mainGray);
  border-style: solid;
}