.container{
  color:#444444;
  margin:15px;
  text-align: center;
}
.WeatherIconImg{
  filter:drop-shadow(0px 0px 10px rgba(129, 129, 129, 0.705));
}
.MainLeft{
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.MainRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size:32px;
}
.MainRigtContentBox{
  position: relative;
  width: 90%;
  padding:15px;
  background-color: #f7f7f7;
  border-radius: 30px;
}
.WeatherDaysCarousel{
  cursor: grab;
  user-select: none;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.WeatherDaysCarousel::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.filterPanelContainer{
  text-align: left;
  border-radius: 30px;
  background-color: #f7f7f7;
}