.container{
  color:#444444;
  margin:15px;
  text-align: center;
}
.MainLeft{
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.MainRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size:32px;
}
.MainRigtContentBox{
  position: relative;
  width: 90%;
  padding:15px;
  background-color: #f7f7f7;
  border-radius: 30px;
}
.WeatherDaysCarousel{
  background-color: #f7f7f7;
  border-radius: 30px;
  margin: 10px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}